<h1>New action</h1>
<!--
<% form_for(@action) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
-->

<div class="post">
  <strong>New Action</strong>
	<%= flash_helper(flash) %>
	<%= ajax_error_space(@action, @controller.action_name) %>
	<%= error_messages_for(:action) %>
  <div class="post-content">
  <p class="auth">Please fill form below </p>

<% form_remote_tag :url=>url_for(:action => 'create', :id => @action ) do %>
  <%= render :partial => 'form' %>

<p class="meta"><%= submit_tag 'Save' %><br/>
<% end ##_form_tag %>
</div><!--#post-content-->
</div><!--#post-->